doctype html

html
    head
        title Demo Website Index
        script(src='/mainMenu.js')
    body
        ul
            each site in sites
                li 
                    button( onclick = `window.open(window.location.origin+'/sites/?id=${site._id.toString()}')`) #{site.name}